@page
@model DevSkillsTracker.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to DevSkills Tracker</h1>
<p>This is your developer learning journal. Start tracking your progress!</p>